[Unit]
Description=Application "%i"
After=default.target
IgnoreOnIsolate=yes

[Service]
EnvironmentFile=-/etc/locale.conf
EnvironmentFile=-%h/.config/locale.conf
ExecStart=/usr/bin/env %i

KillMode=process

[Install]
WantedBy=default.target
