[Unit]
Description=PulseAudio Sound System
After=sound.target
Requires=sound.target

[Service]
Type=forking
ExecStart=/usr/bin/pulseaudio --start
ExecStartPost=/usr/bin/pactl load-module module-x11-publish
ExecStartPost=/usr/bin/pactl load-module module-x11-cork-request
#ExecStartPost=/usr/bin/pactl load-module module-x11-xsmp
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=default.target
