[Unit]
Description=Set up opacity
After=window-manager.target
Wants=window-manager.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/settrans -n "desktop" -o 30

[Install]
WantedBy=default.target
