[Unit]
Description=Add private keys to ssh agent
Wants=ssh-agent.service ssh-askpass.service
After=ssh-agent.service ssh-askpass.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/ssh-add -c
ExecStart=/bin/true

[Install]
WantedBy=default.target
