[Unit]
Description=RXVT-Unicode Daemon
After=environment.target
Wants=environment.target

[Service]
ExecStart=/usr/bin/urxvtd -q -o

[Install]
WantedBy=default.target
