[Unit]
Description=RXVT-Unicode Daemon (256 colors version)
Conflicts=urxvtd.service
After=environment.target
Wants=environment.target

[Service]
ExecStart=/usr/bin/urxvt256cd -q -o

[Install]
WantedBy=default.target
