[Unit]
Description=XScreenSaver
After=environment.target
Wants=environment.target

[Service]
ExecStart=/usr/bin/xscreensaver --no-splash
KillMode=process
