[Unit]
Description=XScreenSaver
After=environment.target
Wants=environment.target

[Service]
ExecStart=/usr/bin/xscreensaver
KillMode=process

[Install]
WantedBy=default.target
